.link-preview {
	border-radius: 5px;
	width: 100%;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	background-color: #ffffff;
	margin: 5px;
	overflow: hidden;
}

.link-preview img {
	width: 100%;

}

.link-preview-description {
	padding: 5px;
	color: #595959;
}

.link-preview-description a {
	font-weight: bold;
}

.link-preview-description p {
	color: #9a9a9a;
	font-size: 12px;
}